*{
    margin: 0vw;
    padding: 0vw;
}
.signUpNew{
    margin-top: .5vw;
    fill: none;
    background: transparent;
    outline: none;
    border: white .03vw solid;
    width: 15vw;
    height: 1.5vw;
    padding-left: 1.5vw;
    color: white;
}
::placeholder{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}
.role{
    margin-right:10vw; 
    padding-top: 1vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}
.dropbox{
    margin-top: .5vw;
    padding: .3vw 0vw 0vw 1.5vw;
    fill: none;
    background: transparent;
    outline: none;
    border: white .03vw solid;
    width: 15vw;
    height: 1.1vw;
    color: white;
}
#formSignUp{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2vw;
}
.bgSignUp{
    padding-top: 8vw;
    margin: 0vw;
    width: 100vw;
    height: 100vh;
    background-image: url(/g.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.signUpNewBtn{
    margin-top: .5vw;
    width: 16.5vw;
    height: 1.8vw;
    background-color: #00B9FF;
    color: white;
    outline: none;
    border: none;
    font-size: 1vw;
    border-radius: 1.5vw;
}
.createAccount{
    font-size: 3vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    width: 100vw;
    text-align: center;
    color: white;
}
.intro{
    font-size: 1vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    width: 100vw;
    text-align: center;
    color: white;
}
.rememberMebox{
    margin-top: .5vw;
    outline: none;
    border: white .03vw solid;
    width: 1vw;
    height: 1vw;
    color: white;
}
.remenberMe{
    margin-top: -1vw;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}

.link{
    color:#aae8ff;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    margin-left: 4.5vw;
    font-weight: 400;
}
#link2{
    margin-left: 6.5vw;
    font-weight: 400;
    
}
#link3{
    margin-left: 6.2vw;
    font-weight: 400;
}